.button {
   -fx-background-color: white;
   -fx-text-fill: black;
   -fx-border-width: 2px;
   -fx-border-color: gray;

}
.root{
    -fx-font-family: "Roberto";
    -fx-base: #7d7d7d;
    -fx-background: #000000;
}